<form class="vestige-toll-dialog">
    <div class="form-group">
        <label>Pay Vestige's Toll for {{name}}</label>
        <div class="form-fields">
            <input id="toll-amount" type="number" min="1" max="{{maxToll}}" value="{{maxToll}}">
            <p class="hint">Current HP: {{currentHP}} (Cannot go below 1)</p>
        </div>
    </div>
</form>